.timer-container {
  display: flex !important;
  flex-wrap: wrap !important;
}
.timer-mint-container {
  width: fit-content;
  background-color: #343444;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3px 0;
  width: 151px;
  /* top: -50px; */
  z-index: 10;
  margin-top: -90px;
  /* margin-bottom: 40px; */
  position: relative;
}
.timer-mint-container p {
  margin: 0;
  font-size: 22px;
}
.slogan::before {
  content: "\e900";
  color: blue;
}
.flame-timer {
  fill: #4b50e6;
  font-size: 25px;
  margin-right: 10px;
}
