@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.App {
  text-align: center;
}

a {
  text-decoration: none;
}
